@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --body-background-color: #e9e9e9;
    --primary-green-color: #206133;
    --darker-green-color: #12361d;
    --light-green-color: #339250;
    --black-home-color: black;
    --top-text-brown-color: #1f1919;
    --home-grey-color: rgb(184, 184, 184);
    --home-darker-grey-color: rgb(255, 255, 255);
    --home-white-color: rgb(255, 255, 255);
    --homecard-background-color: rgba(229, 233, 232, 0.322);
    --home-blue-color: rgb(34, 133, 226);
    --nav-bar-color: rgba(0, 0, 0, 0.2);
    --project-grey-color: rgb(90, 90, 90);
    --popover-red-color: rgb(145, 29, 29);
    --popover-clear-background-color: rgba(255, 255, 255, 0);
    --project-buttons-color: rgb(192, 192, 192);

    /* darkmode colours */

    --darkmode-background-color: rgb(29, 27, 27);
    --darkmode-text-color: #e9e9e9;
    --darkmode-grey-color: #242424;
    --darkmode-lightgrey-color: #353535;
}

/* Darkmode ###############################################################################*/

.nav button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--popover-clear-background-color);
}

#darkmode-img {
    width: 24px;
    height: 24px;
}

.dark-mode {
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-text-color);
}

.dark-mode-footer {
    background-color: var(--top-text-brown-color);
}

body.dark-mode .address {
    color: var(--darkmode-text-color);
}

body.dark-mode .footer-container {
    background-color: var(--project-grey-color);
}


body.dark-mode #nav-text{
    color: var(--home-white-color);
}

body.dark-mode .experience-content {
    color: var(--darkmode-text-color);
}

body.dark-mode #home-name{
    color: var(--darkmode-text-color);
}

body.dark-mode #home-h1 {
    border-bottom: var(--darkmode-text-color) 1px solid;
}

body.dark-mode #exp-h1 {
    color: var(--darkmode-text-color);
}

body.dark-mode .home-card {
    background-color: var(--darkmode-grey-color);
    border: solid 2px var(--black-home-color);
}

body.dark-mode #home-card-p {
    color: var(--darkmode-text-color);
}

body.dark-mode .technology {
    background-color: var(--darkmode-lightgrey-color);
}

body.dark-mode #project-card-p {
    color: var(--darkmode-text-color);
}

body.dark-mode #project-card-a {
    background-color: var(--darkmode-grey-color);
}

body.dark-mode #port-btn {
    background-color: var(--darkmode-grey-color);
    color: var(--darkmode-text-color);
}

body.dark-mode .port-buttons button:hover {
    background: linear-gradient(to left, var(--primary-green-color) 50%, var(--darkmode-grey-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
    color: white;
}

body.dark-mode #about-h1 {
    border-bottom: var(--darkmode-text-color) 1px solid;
}


/* Home Page ##################################################################### */


body {
    background-color: var(--body-background-color);
    width: 100%;
    margin: 0px;
}



.topnav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10% 0px 10%;
    height: 75px;
    width: 80%;
    background: transparent;
    transition: ease-in-out 0.2s;
    z-index: 99;
}

.topnav.black {
    background-color: var(--nav-bar-color);
    border-bottom: 2px solid var(--primary-green-color);
    transition: ease-in-out 0.2s;
}

.topnav img {
    width: 100px;
    height: 75px;
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.topnav a {
    text-decoration: none;
    color: var(--black-home-color);
    font-weight: 500;
    font-size: 18px;
    transition: .1 ease;
}

.nav a:hover {
    scale: 1.05;
    border-bottom: 1px solid var(--black-home-color);
}

.nav {
    display: flex;
    gap: 20px;
    width: 25%;
}

.top-content {
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-content img {
    width: 500px;
    height: 500px;
    transition: .5s ease-in-out;
}

.top-content img:hover {
    scale: 1.05;
    filter: drop-shadow(5px 5px 5px var(--black-home-color));
}

.top-content-text {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 50px 50px;
}

.top-content-text h1 {
    color: var(--top-text-brown-color);
    font-size: 40px;
}

.top-content-text h2 {
    color: var(--primary-green-color);
    font-size: 28px;
    font-weight: 800
}

.page-content {
    display: flex;
    flex-direction: column;
}

.home-experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 0px 0px;
    
}

.experience-content h1 {
    color: var(--top-text-brown-color);
    font-weight: 500;
}

.home-experience-title {
    display: flex;
    justify-content: center;
}

.home-experience-title h1 {
    color: var(--primary-green-color);
    border-bottom: 2px solid var(--top-text-brown-color);
}

.home-experience-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.experience-content p {
    font-size: 20px;
}

.technologies-section {
    margin: 100px 0px 0px 0px;
}

#home-tech-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologies-title {
    display: flex;
    justify-content: center;
}

.technologies-title h1{
    display: flex;
    justify-content: center;
    width: fit-content;
    color: var(--primary-green-color);
    border-bottom: var(--top-text-brown-color) 2px solid;
}

.technology {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 250px;
    background-color: var(--home-grey-color);
    border: var(--top-text-brown-color) 1.5px solid;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.technology:hover {
    scale: 1.05;
    filter: drop-shadow(2px 2px 2px var(--black-home-color));
}

.technology img{
    width: 100px;
    height: 100px;
}

.technology p {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technologies-current-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.technologies-future-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    max-width: 1080px;
}


#TAILWIND-technology img{
    padding: 0px 0px 0px 5px;
}

#JQUERY-technology img{
    padding: 0px 0px 0px 2px;
}

.home-projects-title{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 70px 0px 0px 0px;
    
}

.home-projects-title h1 {
    color: var(--primary-green-color);
    border-bottom: var(--darker-green-color) 2px solid;
    width: fit-content;
}

.home-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.home-card {
    width: 375px;
    height: 475px;
    border-radius: 15px;
    border: var(--top-text-brown-color) 2px solid;
    transition: .5s ease-in-out;
    background-color: var(--body-background-color);
}

.home-card:hover {
    scale: 1.02;
}

.home-card img {
    width: 375px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.home-language-boxes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 0px 0px 10px;
}

.home-card h1, .home-card p {
    padding: 0px 10px 0px 10px;
}

.home-card h1 {
    color: var(--primary-green-color);
    font-weight: 600;
    margin: 3px;
}

.home-card p{
    font-weight: 600px;
    color: var(--black-home-color);
}

.home-language-boxes h2 {
    color: var(--home-white-color);
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--darker-green-color);
}

.home-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.footer-container{
    height: 320px;
    background-color: var(--home-grey-color);
    margin-top: 150px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.top-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 0px 80px;
}

.footer-logo img {
    height: 100px;
    width: 120px;
}

.bottom-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 70px;
    border-top: 2px solid var(--primary-green-color);
    padding: 30px 0px 0px 0px;
}

.media-icons {
    display: flex;
    flex-direction: row;

}

.media-icons img{
    width: 40px;
    height: 40px;
}

.footer-text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: var(--home-blue-color);
}



/* PROJECTS PAGE ##################################################################################### */

.port-page-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 0px 0px;
    width: 100%;
}

.port-top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.port-buttons {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.port-buttons button {
    width: 618px;
    height: 100px;
    background-color: var(--body-background-color);
    border: 1px solid var(--primary-green-color);
    font-size: 24px;
    border-radius: 5px;
}

.port-buttons button:hover {
    background: linear-gradient(to left, var(--primary-green-color) 50%, var(--body-background-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
    color: white;
}

.port-project-examples {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.project-card {
    border: solid 1px var(--primary-green-color);
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


.project-img img{
    height: 450px;
    width: 600px;
    margin: 25px 0px 25px 25px;
    border-radius: 10px;
}

.project-text {
    padding: 25px 0px 0px 20px;
    height: 475px;
    width: 600px;
}


.project-text h1 {
    color: var(--black-home-color);
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

.project-text h2 {
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
    color: var(--project-grey-color);
}

.project-top-text {
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-home-color);
    padding: 0px 20px 10px 0px;
}

.project-main-text {
    padding: 20px 0px 0px 20px;
}

.project-main-text p{
    display: list-item;
}

.project-bottom-buttons img {
    height: 40px;
    width: 40px;
}

.project-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    margin-top: auto;
}

.project-bottom-buttons a {
    width: 290px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--primary-green-color);
    background-color: var(--body-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-bottom-buttons a:hover {
    border: 1px solid var(--home-blue-color);
}

.project-bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
}

#project-card-2 {
    display: flex;
    flex-direction: row-reverse;
}

#project-img-2  img{
    margin: 25px 20px 0px 5px;
}

.hidden {
    display: none;
}



/* ABOUT PAGE ########################################################################################## */

.about-page-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 200px 0px 0px 0px;
}

.about-top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-top-content h1 {
    color: var(--primary-green-color);
    border-bottom: 1px solid var(--top-text-brown-color);
    width: fit-content;
}

.about-location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
}

.about-location img {
    width: 50px;
    height: 50px;
}

.about-location p {
    font-size: 24px;
}

.location-content {
    display: flex;
    flex-direction: row;
}

.map-img img{
    height: 300px;
    width: 300px;
    border: 1px solid var(--top-text-brown-color);
}

.map-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-img p {
    color: var(--home-blue-color);
    margin: 0px;
    font-size: 10px;
}

.about-main-text {
    width: 750px;
    font-size: 24px;
    padding: 50px 0px 0px 0px;
}

/* CONTACT PAGE ############################################################################################*/

.contact-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 0px 0px;
    height: 500px;
}

.contact-information {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-information h1{
    font-weight: 600;
    padding: 0px 0px 20px 0px;
}

.contact-information h2 {
    font-weight: 400;
}

.contact-information img {
    width: 75px;
    height: 75px;
}

.contact-media-icons {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0px 0px 0px;

}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.content-page-txt {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
}

.pop-form-btn {
    width: 100px;
    height: 100px;
    margin: 150px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover {
    width: 1000px;
    height: 800px;
    border-radius: 20px;
    border: 5px solid var(--primary-green-color);
}

.popover-content {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 760px;
}

.popover-left-content {
    width: 500px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover-left-content h1 {
    color: var(--primary-green-color);
    font-size: 48px;
    width: 450px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-left-content p{
    width: 330px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.pop-close {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pop-close button {
    width: 50px;
    height: 40px;
    font-size: 40px;
    font-weight: 900;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--popover-red-color);
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.popover-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.popover-right-content input{
    width: 380px;
    height: 30px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--primary-green-color);
}

.popover-right-content textarea {
    width: 400px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid var(--primary-green-color);
}

.popover-check input{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.popover-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 406px;
    margin: 0px;
}

.popover-check p {
    color: var(--popover-red-color);
    font-size: 12px;
}

.popover-submit {
    width: 406px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.popover-submit button {
    width: 100px;
    height: 50px;
    border: var(--primary-green-color) 2px solid;
    border-radius: 4px;
    background-color: var(--popover-clear-background-color);
    transition: ease-in-out .5s;
}

.popover-submit button:hover {
    border: none;
    background-color: var(--primary-green-color);
    color: white;
}

.popover-submit img {
    width: 30px;
    height: 30px;
}

#popover-txt {
    width: 400px;
    margin: 0px;
}

.form-container {
    position: absolute;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(114, 114, 114, 0.176);
    animation: wobble 2s infinite linear;
}

.right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent var(--darker-green-color) transparent;
    transform: rotate(0deg);
    z-index: 3;
}

.left {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 0 0 200px;
    border-color: transparent transparent transparent var(--primary-green-color);
    transform: rotate(0deg);
    z-index: 4;
}

.top {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    border-color: var(--light-green-color) transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2;
}

.form-container:hover {
    animation-play-state: paused;
}

.form-container:hover .top{
    z-index: 0;
    transform: rotateX(180deg);
    transform-origin: top;
    transition: .1s ease;
    height: 400px;
}

.bottom {
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: var(--primary-green-color);
    z-index: 1;
}

.form-content {
    position: absolute;
    width: 175px;
    height: 30px;
    background-color: var(--body-background-color);
    border: 3px solid var(--darker-green-color);
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.form-container:hover .form-content {
    z-index: 2;
    height: 150px;
    transform: translateY(-60px);
    transition: .5s ease-in-out;
    transition-delay: 0.2s;
 
} 

.header{
    width: 100px;
    height: 20px;
    padding: 5px;  
}

.subheading{
    background-color: rgb(238, 67, 15);
    width: 30px;
    height: 12px;
    border-radius: 2px;
}

.small-text{
    background-color: rgb(177, 235, 235);
    width: 65px;
    height: 12px;
    border-radius: 2px;
}

.first-questions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}

.medium-text{
    background-color: rgb(177, 235, 235);
    width: 150px;
    height: 12px;
    border-radius: 2px;
}

.second-question{
    padding-left: 10px;
}

.large-text{
    background-color: rgb(228, 228, 228);
    width: 150px;
    height: 50px;
}

.last-question{
    padding-left: 10px;
}

.form-bottom{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 10px;
}

.tick-box{
    border: 1px solid;
    border-color: rgb(164, 215, 232);
    border-radius: 2px;
    width: 8px;
    height: 8px;

}

.tc-text{
    padding-top: 3px;
    padding-left: 10px;
}

.submit{
    height: 15px;
    width: 35px;
    background-color: var(--blue-top);
    border-radius: 20px;
    margin-left: 80px;
}

.form-content h1 {
    font-size: 12px;
    margin-left: 6px;
}

/* Keyframes ############################################################################################## */

@keyframes wobble{
    0% { transform: translateX(0%); } 
   15% { transform: translateX(-7.5%) rotate(-2.5deg); } 
   30% { transform: translateX(5%) rotate(1.5deg); } 
   45% { transform: translateX(-2.5%) rotate(-1.5deg); } 
   60% { transform: translateX(2.5%) rotate(1deg); }
   75% { transform: translateX(-1%) rotate(-0.5deg); }
   100% { transform: translateX(0%); } 
}

/* MEDIA QUERIES  ##########################################################################################*/



@media(max-width:1300px){
    .topnav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    
    .nav {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .port-buttons {
        display: flex;
        flex-direction: column;
        padding: 100px 0px 0px 0px;
    }

    .technologies-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .port-project-examples {
        height: 1100px;
        width: 650px;
        flex-direction: column;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 650px;
    }

    #project-card-2 {
        display: flex;
        flex-direction: column;
    }

    #project-card-2 {
        padding: 0px 0px 0px 25px;
    }

    .hidden {
        display: none;
    }
    
    #port-tech-future {
        display: flex;
        justify-content: center;
    }
}


@media(max-width:752px){
    .top-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-content-text{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .top-content img{
        display: flex;
        
        height: 300px;
        width: 300px;
    }

    .home-experience-section {
        padding: 0px 0px 0px 0px;
    }
    .topnav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    
    .nav {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .top-content-text {
        padding: 0px;
    }

    .home-experience-section {
        padding: 0px 20px 0px 20px;
    }

    .technologies-title {
        padding: 0px 20px 0px 20px;
    }

    .bottom-footer-content {
        flex-direction: column;
    }

    .top-footer-content {
        flex-direction: column;
    }

    .footer-container {
        height: 500px;
    }
}
